<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Banco de Questões</title>
</head>
<header>
    <nav class="navbar" style="background-color: rgb(53, 74, 136);">
    <div class="container-fluid">
    <div class="d-flex">
  
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle m-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          1º Ano
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/matematica/1ano">Matemática</a>
          <a class="dropdown-item" href="/portugues/1ano">Português</a>
          <a class="dropdown-item" href="/ciencias/1aano">Ciências da Natureza</a>
          <a class="dropdown-item" href="/historia/1ano">História</a>
          <a class="dropdown-item" href="/geografia/1ano">Geografia</a>
        </div>
      </div>
  
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle m-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          2º Ano
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
           <a class="dropdown-item" href="/matematica/2ano">Matemática</a>
          <a class="dropdown-item" href="/portugues/2ano">Português</a>
          <a class="dropdown-item" href="/ciencias/2aano">Ciências da Natureza</a>
          <a class="dropdown-item" href="/historia/2ano">História</a>
          <a class="dropdown-item" href="/geografia/2ano">Geografia</a>
          <a class="dropdown-item" href="/artes/2ano">Artes</a>
        </div>
      </div>
  
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle m-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          3º Ano
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
           <a class="dropdown-item" href="/matematica/3ano">Matemática</a>
          <a class="dropdown-item" href="/portugues/3ano">Português</a>
          <a class="dropdown-item" href="/ciencias/3ano">Ciências da Natureza</a>
          <a class="dropdown-item" href="/historia/3ano">História</a>
          <a class="dropdown-item" href="/geografia/3ano">Geografia</a>
          <a class="dropdown-item" href="/artes/3ano">Artes</a>
        </div>
      </div>
  
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle m-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          4º Ano
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
           <a class="dropdown-item" href="/matematica/4ano">Matemática</a>
          <a class="dropdown-item" href="/portugues/4ano">Português</a>
          <a class="dropdown-item" href="/ciencias/4ano">Ciências da Natureza</a>
          <a class="dropdown-item" href="/historia/4ano">História</a>
          <a class="dropdown-item" href="/geografia/4ano">Geografia</a>
          <a class="dropdown-item" href="/artes/4ano">Artes</a>
        </div>
      </div>
  
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle m-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          5º Ano
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
           <a class="dropdown-item" href="/matematica/5ano">Matemática</a>
          <a class="dropdown-item" href="/portugues/5ano">Português</a>
          <a class="dropdown-item" href="/ciencias/5ano">Ciências da Natureza</a>
          <a class="dropdown-item" href="/historia/5ano">História</a>
          <a class="dropdown-item" href="/geografia/5ano">Geografia</a>
          <a class="dropdown-item" href="/artes/5ano">Artes</a>
        </div>
      </div>
  
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle m-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          6º Ano
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
           <a class="dropdown-item" href="/matematica/6ano">Matemática</a>
          <a class="dropdown-item" href="/portugues/6ano">Português</a>
          <a class="dropdown-item" href="/ciencias/6ano">Ciências da Natureza</a>
          <a class="dropdown-item" href="/historia/6ano">História</a>
          <a class="dropdown-item" href="/geografia/6ano">Geografia</a>
          <a class="dropdown-item" href="/artes/6ano">Artes</a>
        </div>
      </div>
  
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle m-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          7º Ano
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/matematica/7ano">Matemática</a>
          <a class="dropdown-item" href="/portugues/7ano">Português</a>
          <a class="dropdown-item" href="/ciencias/7ano">Ciências da Natureza</a>
          <a class="dropdown-item" href="/historia/7ano">História</a>
          <a class="dropdown-item" href="/geografia/7ano">Geografia</a>
          <a class="dropdown-item" href="/artes/7ano">Artes</a>
        </div>
      </div>
  
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle m-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          8º Ano
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/matematica/8ano">Matemática</a>
          <a class="dropdown-item" href="/portugues/8ano">Português</a>
          <a class="dropdown-item" href="/ciencias/8ano">Ciências da Natureza</a>
          <a class="dropdown-item" href="/historia/8ano">História</a>
          <a class="dropdown-item" href="/geografia/8ano">Geografia</a>
          <a class="dropdown-item" href="/artes/8ano">Artes</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle m-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          9º Ano
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/matematica/9ano">Matemática</a>
          <a class="dropdown-item" href="/portugues/9ano">Português</a>
          <a class="dropdown-item" href="/ciencias/9ano">Ciências da Natureza</a>
          <a class="dropdown-item" href="/historia/9ano">História</a>
          <a class="dropdown-item" href="/geografia/9ano">Geografia</a>
          <a class="dropdown-item" href="/artes/9ano">Artes</a>
        </div>
      </div>
    </div>
    <a href="/" class="text-white">Home</a>
    <button class="btn bg-primary"><a href="/registrar" class="text-white"> Registrar questão</a></button>
    </nav>
  </header>
  
  <body style="background-color: rgb(202, 202, 202);">
    <h3 class="text-center mt-2">{{discipline}} - {{schoolYear}}</h3>
    <h3 class="text-center mt-2">Quantidade de questões: {{amount}}</h3>
    <table class="table container table-bordered mt-4 bg-white rounded">
    <thead class="thead-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col",style="width: 150px;">Ensino</th>
        <th scope="col",style="width: 100px;">Ano</th>
        <th scope="col">Disciplina</th>
        <th scope="col">Assunto</th>
        <th scope="col">Pergunta</th>
        <th scope="col">Resposta</th>
        <th scope="col">Explicação</th>
        <th scope="col">Imagem</th>
        <th scope="col">Editar</th>
        <th scope="col">Deletar</th>
      </tr>
    </thead>
    <tbody>
      {{#each question}}
      <tr>
        <th scope="row">{{dataValues.id}}</th>
        <td class="text-center">{{dataValues.elementarySchool}}</td>
        <td class="text-center">{{dataValues.schoolYear}}</td>
        <td class="text-center">{{dataValues.displice}}</td>
        <td class="text-center">{{dataValues.subject}}</td>
        <td class="text-center">{{dataValues.question}}</td>
        <td class="text-center">{{dataValues.answer}}</td>
         <td class="text-center">{{dataValues.explanation}}</td>
        <td class="text-center p-1"><img src="data:image/jpeg;base64,{{dataValues.image}}" alt=" sem imagem" class="w-75" ></td>
        <td><form action="/editar-questao/{{dataValues.id}}"><a href="/editar-questao/{{dataValues.id}}">Editar</a></form></td>
        <form action="/deletar" method="DELETE"><td><a href="/deletar/{{dataValues.id}}/{{dataValues.nameImageDir}}" class="text-danger">Deletar</a></td></form>
      </tr>
     {{/each}}
    </tbody>
  </table>
  </body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>


