<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Banco de Questões</title>
</head>
<header>
  <nav class="navbar" style="background-color: rgb(53, 74, 136);">
    <div class="container-fluid d-flex justify-content-between">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle m-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          1º Ano
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{amount1ano}}
          </span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/matematica/1ano">Matemática <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines1M}}
          </span>
          </a>
          <a class="dropdown-item" href="/portugues/1ano">Português <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines1P}}</span>
          </a>
          <a class="dropdown-item" href="/ciencias/1ano">Ciências <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines1C}}
          </span></a>
          <a class="dropdown-item" href="/historia/1ano">História <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines1H}}
          </span></a>
          <a class="dropdown-item" href="/geografia/1ano">Geografia <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines1G}}
          </span></a>
        </div>
      </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle m-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          2º Ano
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{amount2ano}}
          </span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/matematica/2ano">Matemática <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines2M}}
          </span></a>
          <a class="dropdown-item" href="/portugues/2ano">Português <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines2P}}
          </span></a>
          <a class="dropdown-item" href="/ciencias/2ano">Ciências <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines2C}}
          </span></a>
          <a class="dropdown-item" href="/historia/2ano">História <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines2H}}
          </span></a>
          <a class="dropdown-item" href="/geografia/2ano">Geografia <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines2G}}
          </span></a>
        </div>
      </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle m-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          3º Ano
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{amount3ano}}
          </span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/matematica/3ano">Matemática <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines3M}}
          </span></a>
          <a class="dropdown-item" href="/portugues/3ano">Português <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines3P}}
          </span></a>
          <a class="dropdown-item" href="/ciencias/3ano">Ciências <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines3C}}
          </span></a>
          <a class="dropdown-item" href="/historia/3ano">História <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines3H}}
          </span></a>
          <a class="dropdown-item" href="/geografia/3ano">Geografia <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines3G}}
          </span></a>
        </div>
      </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle m-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          4º Ano
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{amount4ano}}
          </span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/matematica/4ano">Matemática <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines4M}}
          </span></a>
          <a class="dropdown-item" href="/portugues/4ano">Português <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines4P}}
          </span></a>
          <a class="dropdown-item" href="/ciencias/4ano">Ciências <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines4C}}
          </span></a>
          <a class="dropdown-item" href="/historia/4ano">História <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines4H}}
          </span></a>
          <a class="dropdown-item" href="/geografia/4ano">Geografia <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines4G}}
          </span></a>
        </div>
      </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle m-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          5º Ano
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{amount5ano}}
          </span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/matematica/5ano">Matemática <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines5M}}
          </span></a>
          <a class="dropdown-item" href="/portugues/5ano">Português <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines5P}}
          </span></a>
          <a class="dropdown-item" href="/ciencias/5ano">Ciências <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines5C}}
          </span></a>
          <a class="dropdown-item" href="/historia/5ano">História <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines5H}}
          </span></a>
          <a class="dropdown-item" href="/geografia/5ano">Geografia <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines5G}}
          </span></a>
        </div>
      </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle m-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          6º Ano
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{amount6ano}}
          </span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/matematica/6ano">Matemática <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines6M}}
          </span></a>
          <a class="dropdown-item" href="/portugues/6ano">Português <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines6P}}
          </span></a>
          <a class="dropdown-item" href="/ciencias/6ano">Ciências <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines6C}}
          </span></a>
          <a class="dropdown-item" href="/historia/6ano">História <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines6H}}
          </span></a>
          <a class="dropdown-item" href="/geografia/6ano">Geografia <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines6G}}
          </span></a>
        </div>
      </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle m-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          7º Ano
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{amount7ano}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/matematica/7ano">Matemática <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines7M}}
          </span></a>
          <a class="dropdown-item" href="/portugues/7ano">Português <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines7P}}
          </span></a>
          <a class="dropdown-item" href="/ciencias/7ano">Ciências <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines7C}}
          </span></a>
          <a class="dropdown-item" href="/historia/7ano">História <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines7H}}
          </span></a>
          <a class="dropdown-item" href="/geografia/7ano">Geografia <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines7G}}
          </span></a>
        </div>
      </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle m-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          8º Ano
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{amount8ano}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/matematica/8ano">Matemática <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines8M}}
          </span></a>
          <a class="dropdown-item" href="/portugues/8ano">Português <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines8P}}
          </span></a>
          <a class="dropdown-item" href="/ciencias/8ano">Ciências <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines8C}}
          </span></a>
          <a class="dropdown-item" href="/historia/8ano">História <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines8H}}
          </span></a>
          <a class="dropdown-item" href="/geografia/8ano">Geografia <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines8G}}
          </span></a>
        </div>
      </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle m-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          9º Ano
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{amount9ano}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/matematica/9ano">Matemática <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines9M}}
          </span></a>
          <a class="dropdown-item" href="/portugues/9ano">Português <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines9P}}
          </span></a>
          <a class="dropdown-item" href="/ciencias/9ano">Ciências <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines9C}}
          </span></a>
          <a class="dropdown-item" href="/historia/9ano">História <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines9H}}
          </span></a>
          <a class="dropdown-item" href="/geografia/9ano">Geografia <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white m-1">
            {{amountDisciplines9G}}
          </span></a>
        </div>
      </div> 

      <a href="/" class="text-white">Home</a>
      <button class="btn bg-primary"><a href="/registrar" class="text-white"> Registrar questão</a></button>
      
      <form action="/admin/logout" enctype="application/x-www-form-urlencoded" method="post">
        <button class="btn bg-primary text-white" type="submit">Logout</button>
      </form>
    </div>
  </nav>
</header>
  
<body style="background-color: rgb(202, 202, 202);" >

  <div class="d-flex justify-content-between container mt-2">
    <h3 class="mt-2 ">Quantidade de questões: {{length}}</h3>
    <form action="/buscar" method="GET">
      <div class="d-flex">
          <input type="search" name="id" class="form-control" placeholder="Id Questção">
        <button type="submit" class="btn btn-primary mb-3">Buscar</button>
      </div>
    </form>
  </div>
  {{#if question}}
  <table class="table container table-bordered mt-2 bg-white rounded">
    <thead class="thead-dark dropdown-head">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">
          <select class="form-select">
          <option value="Ano">Ano</option>
            {{#each schoolYear}}
          <option value="{{this}}">{{this}}</option>
            {{/each}}
        </th>
        
        <th scope="col">
          <select class="form-select">
          <option value="Disciplinas">Disciplinas</option>
            {{#each disciplines}}
          <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        </th>
        
        <th scope="col">
          <select class="form-select">
          <option class="text-center" style="font-weight: bold;">Assuntos</option>
          <hr>
          <form action="/questoes/" method="get">
            <option value="Geografia" class="text-center">Geografia - {{amountGeografia}}</option>
            {{#each subjectsGeografia}}
          <option value="{{this}}">{{this}}</option>
            {{/each}}
            <hr>
          </form>
            <option value="Português" class="text-center">Português - {{amountPortugues}}</option>
            {{#each subjectsPortugues}}
          <option value="{{this}}">{{this}}</option>
            {{/each}}
            <hr>
            <option value="Matematica" class="text-center fw-bold">Matematica - {{amountMatematica}}</option>
            {{#each subjectsMatematica}}
          <option value="{{this}}">{{this}}</option>
            {{/each}}
            <hr>
            <option value="Historia" class="text-center fw-bold">Historia - {{amountHistoria}}</option>
            {{#each subjectsHistoria}}
          <option value="{{this}}">{{this}}</option>
            {{/each}}
              <hr>
              <option value="Ciencias" class="text-center fw-bold">Ciencias - {{amountCiencias}}</option>
              {{#each subjectsCiencias}}
          <option value="{{this}}">{{this}}</option>
              {{/each}}
              <hr>
        </th>
        <th scope="col">Pergunta</th>
        <th scope="col">Resposta</th>
        <th scope="col">Explicação</th>
        <th scope="col">Imagem</th>
        <th scope="col">Editar</th>
        <th scope="col">Deletar</th>
      </tr>
    </thead>
    <tbody>
      {{#each question}}
      <tr>
        <th scope="row">{{dataValues.id}}</th>
        <td class="text-center">{{dataValues.schoolYear}}</td>
        <td class="text-center">{{dataValues.displice}}</td>
        <td class="text-center">{{dataValues.subject}}</td>
        <td class="text-center">{{dataValues.question}}</td>
        <td class="text-center">{{dataValues.answer}}</td>
        <td class="text-center">{{dataValues.explanation}}</td>
        <td class="text-center p-1"><img src="data:image/jpeg;base64,{{dataValues.image}}" alt=" sem imagem" class="w-75" ></td>
        <td><form action="/editar-questao/{{dataValues.id}}"><a href="/editar-questao/{{dataValues.id}}">Editar</a></form></td>
        <form action="/deletar" method="DELETE"><td><a href="/deletar/{{dataValues.id}}/{{dataValues.nameImageDir}}" class="text-danger">Deletar</a></td></form>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
   <h2 class="text-center mt-4">{{message}}</h2>
  {{/if}}
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>


